name: Build

on:
  push:
    branches:
      - 'main'
  release:
    types: [created]
  # schedule:
  #   - cron: "0 0 * * *"   # Run every 24 hours (daily at 00:00 UTC)

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
        
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Build and push backend
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile-backend
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            ghcr.io/highfire1/langara-coursys-backend-fetch:latest

      - name: Build and push api
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile-api
          platforms: linux/amd64,linux/arm64
          push: true
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: |
            ghcr.io/highfire1/langara-coursys-backend-serve:latest
